{% extends 'base.html' %}

{% block content %}
<p>
    {% if user.is_authenticated %}
     Hello, {{ user.username }}
    {% else %}
    {% endif %}
</p>

{% if user.is_authenticated %}
    <hr />
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button name="submit">Log out</button>
    </form>
{% endif %}

<p>home page, here events available for log in users</p>
<h4>Events:</h4>
<ul>
  {% for event in events %}
    <li>
      <a href="{% url 'events:event_details' event.id %}">{{ event.title }}</a>
    </li>
  {% empty %}
    <li>No events have been added yet.</li>
  {% endfor %}
</ul>

<p> REGISTER FOR EVENT</p>
{% endblock content %}